@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main {
        display: flex;
        align-items: center;
        height: 735px;

        &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        padding-left: 0%;
        padding-top: 238px;
        text-align: center;
        }

        &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        padding-left: 0%;
        padding-top: 33px;
        text-align: center;
        }
    }

    .button {
        margin-top: 32px;
        margin-left: 0%;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding-top: 128px;
    }

    .game {
        width: 343px;
        height: 300px;
        padding-left: 16px;
    }

    .games {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 64px;
        &__main {
            padding-left: 0%; 
            align-items: center; 
            padding-top: 51px; 
            padding-bottom: 0%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column; 
            gap: 64px;
        }

        &__seasons {
            padding-left: 0%; 
            align-items: center; 
            padding-top: 51px; 
            padding-bottom: 0%;
        }

        &__words {
            padding-left: 0%; 
            align-items: center; 
            padding-bottom: 0%; 
        }

        &__heading {
            font-size: 32px;
            line-height: 39px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
        }

        &__img {
            max-width: 344px;
            max-height: 236px;
            padding-top: 32px;
            padding-bottom: 85px;
            margin-left: 0%;
        }
        &__image {
            display: none;
        }

        &__imagem {
            display: block;
            max-width: 344px;
            max-height: 236px;
            padding-top: 32px;
            padding-bottom: 85px;
            margin-left: 0%;
        }
    }
}