* {
  margin: 0;
  padding: 0;
}

.center {
  padding-right: calc(50% - 720px);
  padding-left: calc(50% - 720px);
}

.main {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 1024px;
}
.main__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-top: 217px;
  padding-left: 120px;
  max-width: 789px;
}
.main__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-top: 32px;
  padding-left: 120px;
  max-width: 481px;
  height: 64;
  display: inline;
}

.go {
  font-weight: bold;
}

.button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  width: 234px;
  height: 49px;
  margin-left: 120px;
  margin-top: 44px;
  justify-content: center;
}

.button:hover {
  background: #EB443F;
}

.bottom {
  background-image: url(./img/backbottom.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding-bottom: 128px;
}

.game {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  width: 379px;
  height: 300px;
  text-decoration: none;
  padding-bottom: 32px;
  padding-left: 32px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game:hover {
  border: 3px solid #44D2FF;
}

.gameleft {
  background-image: url(./img/gameleft.jpg);
}

.gamemid {
  background-image: url(./img/gamemid.jpg);
}

.gameright {
  background-image: url(./img/gameright.jpg);
}

.games {
  background-image: url(./img/gameback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.games__main {
  display: flex;
  gap: 135px;
}
.games__seasons {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding-left: 120px;
  flex-direction: column;
  padding-bottom: 280px;
}
.games__img {
  width: 485px;
  height: 333px;
}
.games__image {
  width: 485px;
  height: 333px;
  padding-left: 120px;
  padding-bottom: 239px;
}
.games__imagem {
  display: none;
}
.games__words {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding-left: 120px;
  flex-direction: column;
  padding-bottom: 280px;
}
.games__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.games__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  max-width: 584px;
}
.games__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  width: 234px;
  height: 49px;
  justify-content: center;
}
.games__button:hover {
  background: #EB443F;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    display: flex;
    align-items: center;
    height: 735px;
  }
  .main__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding-left: 0%;
    padding-top: 238px;
    text-align: center;
  }
  .main__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding-left: 0%;
    padding-top: 33px;
    text-align: center;
  }
  .button {
    margin-top: 32px;
    margin-left: 0%;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 128px;
  }
  .game {
    width: 343px;
    height: 300px;
    padding-left: 16px;
  }
  .games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 64px;
  }
  .games__main {
    padding-left: 0%;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 64px;
  }
  .games__seasons {
    padding-left: 0%;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 0%;
  }
  .games__words {
    padding-left: 0%;
    align-items: center;
    padding-bottom: 0%;
  }
  .games__heading {
    font-size: 32px;
    line-height: 39px;
  }
  .games__text {
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
  }
  .games__img {
    max-width: 344px;
    max-height: 236px;
    padding-top: 32px;
    padding-bottom: 85px;
    margin-left: 0%;
  }
  .games__image {
    display: none;
  }
  .games__imagem {
    display: block;
    max-width: 344px;
    max-height: 236px;
    padding-top: 32px;
    padding-bottom: 85px;
    margin-left: 0%;
  }
}/*# sourceMappingURL=style.css.map */